.header{
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar ul li{
    list-style-type: none;
    display:inline-block;
    padding: 2px 50px;
}

.navbar ul li a{
    color: rgb(7, 36, 55);
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li p{
    font-family:cursive;
    font-size: 25px;
}

.navbar ul li p:hover{
    color:rgb(243, 246, 248);
    transition: 1s;
    cursor: pointer;
    transform: scale(1.2);
}

.welcome{
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(p5.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.context1{
    font-family:cursive;
    font-size: 90px;
    
}

.context2{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.welcome .context1 :hover {
    font-size: 100px;
    transition: 2s;
}


.container2{
    height: 700px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box{
    height: 700px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(251, 250, 250);
    background-repeat: no-repeat;
    background-size: cover;
}

.leftbox, .rightbox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#home{
    background:url(p3.avif);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#home:hover{
    background:url(p3.avif);
    transition: 2.5s;
    transform: scale(1.1);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    z-index: -9999;
}

.next{
    margin-top: 4px;
    height: 800px;
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nextcontext p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.next p{
    font-size: 25px;
    text-align: center;
    
    
}

.heading{
    font-size: 50px;
    color: rgb(29, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-align: center;
}
.icons{
    
    display: flex;
    justify-content: space-around;
    
}
.icons img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgb(135, 135, 135),
                -8px -8px 16px rgb(176, 175, 175);
}

.next:hover img{
    transition: 10ms;
    transform: scale(1.2);
    
}

.next:hover img{
    transition: 2s;
    transform: scale(1.2);
    
    
}

.left, .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

.design{
    color: rgb(231, 30, 121);
    font-family: fantasy;
    font-size: 50px;
}



.left img{
    height: 400px;
   
}

.leftcontent, .rightcontent{
    display: flex;
    flex-direction: column;
}

.leftcontent p, .rightcontent p{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.ending{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(p24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.ending p{
    text-align: center;
    font-size: 35px;
    font-family: cursive;
}
.section{
    height: 100px;
    background-color: rgb(249, 248, 248);
    display: flex;
    align-items: center;
}

.sectiontext{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.section img{
    height: 50px;
    width: 50px;
    padding: 10px;
}

